<footer class="bg-gray-50 pt-10 pb-6">
    <div class="myContainer mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between">
            <div class="mb-8 md:mb-0">
                <h2 class="text-2xl font-bold text-gray-800">ELEVATE</h2>
                <p class="mt-4 text-gray-600 max-w-xs">
                    Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore
                    Et Dolore Magna Aliqua
                </p>
                <div class="flex space-x-4 mt-6">
                    <a href="https://www.facebook.com/elevatecheg" class="text-gray-600 hover:text-gray-900">
                        <svg class="w-6 h-6 text-gray-800 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/elevatecheg" class="text-gray-600 hover:text-gray-900">
                        <svg class="w-6 h-6 text-gray-800 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                                clip-rule="evenodd" />
                            <path d="M7.2 8.809H4V19.5h3.2V8.809Z" />
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/elevatecheg" class="text-gray-600 hover:text-gray-900">
                        <svg class="w-6 h-6 text-gray-800 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
            <hr class="h-px my-4 bg-gray-200 border-0 md:hidden">
            <div class="mb-8 md:mb-0">
                <h3 class="text-xl font-semibold text-gray-800 mb-4">CATALOG</h3>
                <ul class="space-y-3">
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Necklaces</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Hoodies</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Jewelry Box</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">T-Shirt</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Jacket</a></li>
                </ul>
            </div>
            <hr class="h-px my-4 bg-gray-200 border-0 md:hidden">
            <div class="mb-8 md:mb-0">
                <h3 class="text-xl font-semibold text-gray-800 mb-4">ABOUT US</h3>
                <ul class="space-y-3">
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Our Producers</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Sitemap</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">FAQ</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">About Us</a></li>
                    <li><a href="#" class="text-gray-600 hover:text-gray-900">Terms & Conditions</a></li>
                </ul>
            </div>
            <hr class="h-px my-4 bg-gray-200 border-0 md:hidden">
            <div>
                <h3 class="text-xl font-semibold text-gray-800 mb-4">CUSTOMER SERVICES</h3>
                <ul class="space-y-3">
                    <li><a class="text-gray-600 hover:text-gray-900">Contact Us</a></li>
                    <li><a class="text-gray-600 hover:text-gray-900">Track Your Order</a></li>
                    <li><a class="text-gray-600 hover:text-gray-900">Product Care & Repair</a></li>
                    <li><a class="text-gray-600 hover:text-gray-900">Book An Appointment</a></li>
                    <li><a class="text-gray-600 hover:text-gray-900">Shipping & Returns</a></li>
                </ul>
            </div>
        </div>
        <div class="mt-10 border-t pt-6 flex flex-col md:flex-row justify-between items-center">
            <p class="text-gray-600">&copy; 2024 Elevate, Inc.</p>
            <div class="flex space-x-4 mt-4 md:mt-0">
                <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm5.178 12.137a4.137 4.137 0 1 1 1.036-8.144A6.113 6.113 0 0 0 8.726 12c0 1.531.56 2.931 1.488 4.006a4.114 4.114 0 0 1-1.036.131ZM10.726 12c0-1.183.496-2.252 1.294-3.006A4.125 4.125 0 0 1 13.315 12a4.126 4.126 0 0 1-1.294 3.006A4.126 4.126 0 0 1 10.726 12Zm4.59 0a6.11 6.11 0 0 1-1.489 4.006 4.137 4.137 0 1 0 0-8.013A6.113 6.113 0 0 1 15.315 12Z"
                        clip-rule="evenodd" />
                </svg>
                <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Z" />
                    <path fill="#ffffff"
                        d="M15.643 9.382a3.314 3.314 0 0 0-1.158-.2c-1.276 0-2.177.643-2.184 1.566-.008.678.64 1.06 1.131 1.286.504.233.672.38.67.588-.003.317-.402.46-.772.46-.51 0-.789-.07-1.217-.248l-.159-.075-.18 1.063c.31.13.869.24 1.446.25 1.357 0 2.244-.64 2.255-1.621.01-.542-.34-.951-1.079-1.29-.449-.219-.727-.365-.727-.588 0-.197.238-.408.737-.408.332-.008.661.055.967.183l.12.053.181-1.026-.031.007Zm3.312-.114h-.997c-.31 0-.544.085-.68.393l-1.917 4.345h1.356l.272-.713 1.656.002c.039.166.158.71.158.71H20l-1.045-4.737Zm-8.49-.04h1.294l-.809 4.74H9.659l.807-4.742v.002Zm-3.282 2.613.134.658 1.264-3.231h1.37l-2.035 4.731H6.549L5.432 9.993a.27.27 0 0 0-.119-.159 5.543 5.543 0 0 0-1.27-.47l.018-.1h2.081c.283.012.51.1.586.402l.454 2.177.001-.002Zm10.177.483.515-1.326c-.006.014.106-.273.171-.451l.089.409.3 1.367h-1.076Z" />
                </svg>
                <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                        clip-rule="evenodd" />
                    <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                </svg>
            </div>
        </div>
    </div>
</footer>