<header class="bg-zinc-100 relative h-screen">
    <div class="flex flex-wrap md:flex-nowrap items-center myContainer pt-24 pb-12">
        <div class="w-full md:w-1/2">
            <h1 class="font-bold text-2xl capitalize">Elevate</h1>
            <p class="font-semibold capitalize mb-8">You Can Explore Elevate shop that have many diffrent collection
                from various brand here</p>
            <a href="#home" role="button"
                class="my-8 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2">
                <svg class="inline w-6 h-6 text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z" />
                </svg>
                Shop Now</a>
        </div>
        <div class="w-full md:w-1/2 pt-8 md:pt-0">
            <img src="assets/images/19.jpg" alt="header girl" width="60%" class="headerImg mx-auto">
        </div>
    </div>
    <img src="assets/images/Vector.png" class="absolute end-0 top-1/2" alt="flowers">
</header>


<div id="home" class="md:p-6 py-5 myContainer">
    <div class="flex">
        <div class="relative w-1/2 md:p-2">
            <div class="text-center md:absolute md:-left-2 md:top-full md:transform md:-translate-y-1/2 md:-rotate-90 md:origin-left">
                <span class="text-lg font-bold tracking-widest">EXPLORE NEW AND POPULAR STYLES</span>
            </div>
            <img src="assets/images/18.png" alt="Fashion Style" height="h-full">
            
        </div>
        <div class="w-1/2 flex flex-wrap justify-between">
            <div class="w-1/2 md:p-2">
                <img src="assets/images/01.png" alt="Style 1" class="h-full">
            </div>
            <div class="w-1/2 md:p-2">
                <img src="assets/images/03.png" alt="Style 2" class="h-full">
            </div>
            <div class="w-1/2 md:p-2">
                <img src="assets/images/20.png" alt="Style 3" class="h-full">
            </div>
            <div class="w-1/2 md:p-2">
                <img src="assets/images/02.png" alt="Style 4" class="h-full">
            </div>
        </div>
    </div>
</div>

<div class="py-16">
    <h2 class="text-5xl text-center font-bold pb-6">ALL PRODUCTS</h2>
    <div class="myContainer flex flex-wrap items-center h-full">
        @for (product of prodArr; track $index) {
            <div class="w-full md:w-1/4">
                <app-one-product [product] = "product"></app-one-product>

            </div>
        }
    </div>
</div>
